<h1>Listing clubs</h1>

<table>
  <tr>
    <th>Start time</th>
    <th>Volume</th>
    <th></th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= club.start_time %></td>
    <td><%= club.volume_id %></td>
    <td><%= link_to 'Show', club %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Club', new_club_path %>
