<%= content_for :head do %>
  <%= stylesheet_link_tag "home" %>
  <script type="text/javascript">
    var clubs = new Wormies.Collections.ClubCollection();


    $(document).ready(function() {

      var club_list = new Wormies.Views.ClubListView({
        "el": $(".club-list"),
        "collection": clubs
      });

      clubs.add(<%= @clubs.to_json.html_safe %>);
    });

    // Add each model to collection

    // Create and render view

  </script>
<% end %>


<div class="row">
  <div class="span9 upcoming-meetings">
    <h3>Upcoming meetings</h3>
    <ul class="club-list media-grid"></ul>
  </div>
  <div class="span7 sidebar">
    <p>Host live, face to face book clubs.<br />It's easy and free.</p>
    <%= link_to "Create a club »" , new_club_path, :class => "create btn primary large" %>
  </div>
</div>
