<%= content_for :head do %>
  <meta property="og:title" content="Wormies - Social Video Book Clubs" /><meta property="og:type" content="company" /><meta property="og:site_name" content="Wormies" /><meta property="og:url" content="http://www.wormi.es" /><meta property="og:image" content="null" /><meta property="og:description" content="Imagine what someone else would want to post on your wall about signing up for your project." />
<% end %>

<div rel="M9SQW1SQ" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="www.wormi.es/launch" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
