<% if (app.get('is_moderator')) { %>
  <button class="btn danger stopShowBtn" disabled="disabled">Stop Meeting</button>
  <button class="btn success startShowBtn" disabled="disabled">Start Meeting</button>
<% } else { %>
  <button class="btn danger leaveShowBtn" disabled="disabled">Leave Meeting</button>
  <button class="btn success joinShowBtn" disabled="disabled">Join Meeting</button>
<% } %>
<p class="shift">Press <strong>shift</strong> to talk.</p>
<% if (!app.get('is_moderator')) { %>
  <p class="admin">Did you create this meeting? Admin page <a href="/clubs/<%= app.get('club').id  %>/admin">here.
<% } %>
